.text-center {
  text-align: center;
}

.nav {
  border-bottom: 3px solid #46b546;
}
.nav-link {
  color: #333;
  padding: 1.2rem 1em !important;
}
.nav-link:hover {
  background-color: #46b546;
  color: #fff;
}

.logged-user {
  margin-left: 50px;
}
.logged-user__avatar {
  width: 48px;
  border-radius: 50%;
  margin: 0 20px;
}
.nav-link {
  cursor: pointer;
}
.nav-link--inline {
  display: inline-block !important;
}

/************************\
    login properties
\************************/

.login-card {
  width: 500px;
  margin: 40px auto;
}
.login-card__logo {
  width: 240px;
  margin-bottom: 20px;
}

.user-dropdown {
  text-align: left !important;
}
.dropdown-toggle::after {
  position: absolute;
  top: 48%;
  right: 14px;
}
.dropdown-menu--block {
  width: 100%;
}

.dropdown-item {
  cursor: pointer;
}
.dropdown-item__image {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
